<div style="position: relative; display: inline-block; width: 70%; height: 100%; float: left; overflow: hidden;">

  <div style="position: absolute; top: 0px; left: 0px; width: 100%; padding: 10px; padding-left: 15px; background: #ddd; height: 55px; z-index: 6">
    <div class="pull-left"><h1 class="title">Explaain CMS</h1></div>
    <div id="newCardBtn" class="dropdown pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <i class="fa fa-lg fa-fw fa-plus-circle"></i> New Card…
        <i class="fa fa-fw fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu"></ul>
    </div>
    <button class="btn btn-default pull-right" style="margin-right: 10px;" type="button" onclick="promptForApiKey()">
      <i class="fa fa-lg fa-fw fa-cog"></i> API Key
    </button>
    <div id="uploadbutton" class="btn btn-default pull-right" style="margin-right: 10px;">Upload CSV</div>
    <input class="btn btn-default pull-right" style="visibility:hidden;" type="file" id="upload" multiple>
  </div>

  <div style="position: absolute; left: 0; top: 65px; width: 350px; z-index: 4">
    <form id="search" autocomplete="off">
      <div class="input-group" style="background: #fff;">
        <span class="input-group-addon"><i class="fa fa-lg fa-search"></i></span>
        <input type="text" name="search" class="form-control" placeholder="Search"/>
      </div>
    </form>
  </div>
  <div id="searchResults" style="overflow: scroll; position: absolute; top: 0; bottom: 0; left: 0; padding-left: 10px; margin-top: 120px; z-index: 3"></div>

  <div id="cards" style="position: absolute; top: 0; left; 0; height: 100%; width: 100%; overflow: hidden;">
    <div id="server-url" class="text-muted" style="position: absolute; bottom: 5px; left: 5px"></div>
  </div>

</div>
<!-- Explaain App Preview -->
<div style="display: inline-block; width: 30%; height: 100%; float: right;">
  <iframe id="explaain" frameborder="0" style="height: 100%; width: 100%" src=""></iframe>
</div>
<div id="contextmenu" class="contextmenu">
  <ul id="editLinkContextMenu" class="dropdown-menu" style="display: block;">
    <li><a href="#" onclick="showContextMenu('addLinkContextMenu')"><i class="fa fa-fw fa-link"></i> Edit link</a></li>
    <li><a href="#" onclick="removeLink()"><i class="fa fa-fw fa-unlink"></i> Remove link</a></li>
  </ul>
  <ul id="addLinkContextMenu" class="dropdown-menu" style="display: block;">
    <li style="padding: 0 10px;"><input name="search" autocomplete="off" type="text" class="form-control input-sm" placeholder="Search"/></li>
    <li role="separator" class="divider"></li>
    <li><a href="#" onclick="showContextMenu('newCardContextMenu')"><i class="fa fa-fw fa-plus-circle"></i> New card…</a></li>
  </ul>
  <ul id="newCardContextMenu" class="dropdown-menu" style="display: block;"></ul>
</div>
<!-- Templates -->
<%- include partials/headline-card.ejs %>
<%- include partials/detail-card.ejs %>
<%- include partials/person-card.ejs %>
<%- include partials/organization-card.ejs %>
<%- include partials/event-card.ejs %>
<%- include partials/place-card.ejs %>
<%- include partials/image-card.ejs %>
<%- include partials/embed-card.ejs %>
<%- include partials/question-card.ejs %>
<!-- Scripts -->
<script type="text/javascript">
  var databaseURI = '<%= databaseURI %>';
  var appURI = '<%= appURI %>';
  var airtableApiKey = '<%= airtableApiKey %>';
  var airtableTable = '<%= airtableTable %>';
</script>
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/underscore.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ally.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jsrender.min.js"></script>
<script src="js/to-markdown.js"></script>
<script src="js/marked.min.js"></script>
<script src="js/jquery.toTextarea.js"></script>
<script src="js/toastr.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/papaparse.min.js"></script>
<script src="http://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

<script src="js/main.js"></script>